* {
  box-sizing: border-box;
}

#body1 {
	background-color: rgb(34, 34, 34);
	padding: 0;
	margin: 0;
  overflow: hidden;
}

#center-back {
	background-color: rgb(34, 34, 34);
	color: rgb(220,220,220);
	height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

@keyframes float {
  from {bottom: -20vh;}
  to {bottom: 120vh;}
}

.bokeh {
	position: absolute;
	bottom: 0;
	border-radius: 100vw;

	animation-name: float;
	animation-duration: 80s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.light-layer {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	background-color: blue;
	opacity: 0.1;
	z-index: 3;
}

/* Phone */
/*
.main-elem {
	position: relative;
	left: 241px;
	top: 151px;
	width: 542px;
	height: 392px;
	background-color: rgb(115, 115, 115);
	z-index: 10;
	opacity: 0.3;
}
*/
/*
.logo-display {
	position: relative;
	opacity: 0.3;
	z-index: 10;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background-color: red;
}

.title-display {
	position: absolute;

	background-color: red;
}

.acct-section1 {
	position: absolute;
	z-index: 10;
	opacity: 0.3;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 100px solid red;
}
*/
/* Tablet */
@media only screen and (min-width: 768px){

	/*
	.main-elem {
		position: relative;
		left: 241px;
		top: 151px;
		width: 542px;
		height: 392px;
		background-color: rgb(115, 115, 115);
		z-index: 10;
		opacity: 0.3;
	}
	*/

	.logo-display {
		position: relative;
		opacity: 0.3;
		z-index: 10;
		top: 10px;
		left: 10px;
		width: 40px;
		height: 40px;
		background-color: red;
	}

	/* Needs testing to be done */
	.title-display {
		position: relative;

		background-color: red;
	}

	.top-divider {

	}

	.acct-section1 {
		position: absolute;
		z-index: 10;
		opacity: 0.3;
		width: 0;
		height: 0;
		bottom: 0;
		right: 0;
		border-left: 180px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 180px solid red;
	}

}

/* Laptop or PC */
@media only screen and (min-width: 768px){

	/*
	.main-elem {
		position: relative;
		left: 241px;
		top: 151px;
		width: 542px;
		height: 392px;
		background-color: rgb(115, 115, 115);
	  z-index: 10;
	  opacity: 0.3;
	}
	*/

	.logo-display {
		position: relative;
		z-index: 10;
		z-index: 10;
		top: 0px;
		left: 0px;
		width: 80px;
		height: 80px;
    background-color: transparent;
    opacity: 1;
	}

	.title-display {
		position: absolute;
		z-index: 10;
		opacity: 0.3;
		width: 200px;
		height: 38px;
		top: 24px;
		left: 120px;
		background-color: red;
	}

  /* May need to be further apart for up-scaling */
	#pause-button {
		position: static;
		z-index: 10;
		opacity: 1;
		width: 50px;
		height: 50px;
    transition: width 0.5s, height 0.5s;
	}

  #pause-hov{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    bottom: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
  }

  #play-button{
    position: static;
    z-index: 10;
    opacity: 1;
    width: 50px;
    height: 50px;
    transition: width 0.5s, height 0.5s;
  }

  #play-hov{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    bottom: 10px;
    left: 100px;
    width: 80px;
    height: 80px;
  }

	#stop-button {
		position: static;
		z-index: 10;
		opacity: 1;
		width: 50px;
		height: 50px;
    transition: width 0.5s, height 0.5s;
	}

  #stop-hov{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    bottom: 10px;
    left: 190px;
    width: 80px;
    height: 80px;
  }

	.acct-section1 {
		position: absolute;
		z-index: 10;
		opacity: 0.3;
		width: 0;
		height: 0;
		bottom: 0;
		right: 0;
		border-left: 225px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 225px solid red;
	}

}
